/*FORMS*/
/* Style inputs, select elements and textareas */

input[type=text], input[type=email], select, textarea{
  width: 80%;
  padding: 1rem;
  border: 0.5rem solid black;
  border-radius: 0.5px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
  label {
  padding: 1rem;
  display: inline-block;
  text-align:center;
  width: 100%;
  font-size: 1.5rem;
}

/* Style the submit button */
  input[type=submit] {
  background-color: rgb(137,216,233);
  color: black;
  padding: 2rem 4rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  float: left;
  text-align: center;
  margin: 2rem 35vw;
}

/* Style the container */
  .inputForm {
  border-radius: 1rem;
  padding: 1rem;
}

/* Floating column for labels: 25% width */
  .width-25 {
  float: left;
  width: 100%;
  padding-left:7rem;
  margin-top: 1rem;
  text-align: left;
}

/* Floating column for inputs: 75% width */
  .width-75 {
  float: left;
  width: 75%;
  margin-top: 1rem;
}


/* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two 
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .width-25, .width-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
