

.MainTitle{
	color: black;
	padding: 4rem; 
	margin: 0 auto;
	/*padding needs to be small or dropdowncontent will separate fr dropdown button*/
}

/*TOP NAV*/
.topnav{
	background-color: black;
	display: block;
		/*flexwrap: wrap;
		justify-content: center;*/
	padding: 1rem;
	font-size: 1.5rem;
	margin-bottom: 0rem;
}

.topnav a{
	color: white;
	display: inline-block;
	padding: 1rem;
	text-align:center;
	text-decoration: none;
}

.topnav a:hover, .dropdown:hover .dropbtn{
	background-color: white;
	color: black;
}
.dropdown{
	float:left;
	overflow: hidden;
	text-align: inherit;
}

.dropdown .dropbtn{
	background-color: inherit;
	border: none;
	color: white;
	font-family: inherit;
	margin:0;
	outline: none;
	padding: 1rem;
}

.dropdown-content{
	background-color: white;
	display: none;
	position: fixed;
	box-shadow: 0px 8px 16px 0px rgb(0,0,0.2);
	margin: 0rem 0rem 1rem 0rem;
}

.dropdown-content a{
	color: black;
	display: block;
	float: none;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
}

.dropdown:hover .dropdown-content{
	display:block;
	margin: 0;
}

/*BODY*/
.PageContent{
	background-color: white;
	display: left;
	font-size: 100%;
	margin: 0 auto;
	overflow:auto;
	text-align:left;
	padding: 1rem 1rem;
}

.PageTitle h3{
	padding: 0.25rem 0rem 0rem 3rem;
}

.PageBody img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height: 80%;
}

.PageBody p{
	padding: 0.25rem 0rem 0.25rem 3rem;
}

.PageBody ul{
	font-size: 1.1vw;
	list-style-position:inside;
}


.OriginalWorksBlock, .TranslationsBlock{
	background-color: white;
	color: black;
	margin: 1.5rem 0rem;
	padding: 2rem 1.5rem 2rem 1.5rem;
	overflow: auto;
	text-align: center;
}

.TranslationsBlock ul{
	color:black;
	list-style-position:inside;
	margin: 0 auto;
	padding: 1rem;
	text-align:center;
}

/*FOOTER*/
footer{
	margin: 1rem;
}

/*FORMS*/
/* Style inputs, select elements and textareas */
.FormContainer{
  input[type=text],   input[type=email],   select,   textarea{
  width: 80%;
  padding: 1rem;
  border: 0.5rem solid black;
  border-radius: 0.5px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
  label {
  padding: 1rem;
  display: inline-block;
  text-align:center;
  width: 100%;
}

/* Style the submit button */
  input[type=submit] {
  background-color: rgb(137,216,233);
  color: black;
  padding: 2rem 4rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  float: left;
  margin: 2rem 4rem;
}

/* Style the container */
  .container {
  border-radius: 1rem;
  padding: 1rem;
  max-width:91%;
}

/* Floating column for labels: 25% width */
  .col-sm-4 {
  float: left;
  width: 30%;
  padding-left:7rem;
  margin-top: 1rem;
  text-align: left:
}

/* Floating column for inputs: 75% width */
  .col-sm-8 {
  float: left;
  width: 60%;
  margin-top: 1rem;
}

  .row{
	display:flex;
	flexwrap:wrap;
	justify-content:center;
}

/* Clear floats after the columns */
 .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two 
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
}