/*GENERAL SETTINGS*/
body{
	background-color: rgb(156,195,237); /*light blue color*/
}

p{
	font-size: 100%;
}

h1{
	font-size: 3rem;
}

h2{}

h3{
	font-size: 1.5rem;
}

h4{
	font-size: 1.3rem;
}

/*TOP NAVGATION*/
.topnav{
	background-color: black; /*rgb(222,156,237); light purple color*/
	display:flex;
		flexwrap: wrap;
		justify-content: center;
	overflow: hidden;
}

.topnav a{
	color: white;
	display: inline;
	font-size: 1.1rem;
	float: left;
	padding: 1rem 1rem;
	text-align: middle;
	text-decoration: none;
}

.topnav a:hover{
	background-color: white;
	color: black;
}

.dropdown{
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn{
	background-color: inherit;
	border:none;
	color: white;
	font-family: inherit; /*important for vertical align on mobile*/
	font-size: 1.1rem;
	margin: 0; /*important for vertical align on mobile*/
	outline: none;
	padding: 1rem 1rem;
}

.topnav a:hover, .dropdown:hover .dropbtn{
	background-color: white;
	color: black;
}

.dropdown-content {
	background-color: white;
	display:none;
	min-width: 160px;
	position: absolute;
}

.dropdown-content a{
	color:black;
	display: block;
	float: none;
	padding: 1rem 1rem;
	text-align: left;
	text-decoration: none;
}

/*.dropdown-content a:hover{
	background-color:white;
}
might not need it if background color of dropdown button stays white */

/*show the dropdown menu on hover*/
.dropdown:hover .dropdown-content{
	display:block;
}

/*PAGE CONTENT*/
.PageContent{
	background-color: white;
	display: center;
	font-size: 100%;
	margin: auto;
	padding: 0.5rem 1rem 2rem 3rem;
	overflow:auto;
	text-align:left;
	
}

.PageTitle{
	font-size: 2.5rem;
}

.PageBody{
	
}

/*the things between content and footer*/
.FooterNav{
	display:flex;
		flex-wrap:wrap;
		justify-content: center;
}
.OriginalWorksBlock{
	background-color: white;
	color: black;
	margin: 1rem;
	padding: 0.3rem 1.5rem 2rem 1.5rem;
}

.TranslationsBlock{
	background-color: white;
	color: black;
	margin: 1rem;
	padding: 0.3rem 1.5rem 2rem 1.5rem;
	text-align: center;
}
